*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

 #navDiv1{
    border: 1px solid #205530;
    width: 100vw;
    height: 50px;
    background-color:#205530;
    justify-content: space-between;
    display:flex;
    flex-direction: row;
    text-align: center;
    padding-left: 300px;
    padding-top: 10px;
    padding-right: 20px;
    border: none;
  
}
nav{
    border: 1px solid black;
    width: 100vw;
    height: 100px;
    background-color: #BFBFBF;
    display: flex;
    flex-direction: column;
    border: none;

    
    & #navDiv2{
        border: 1px solid #BFBFBF;
        width: 100vw;
        height: 50px;
        background-color: #FFFFFF;
        cursor: pointer;
        border: none;
        animation: 40s Application ease-out infinite;
        border: none;

    }
    & #navDiv3{
        border: 1px solid #062D00;
        width: 100vw;
        height: 50px;
        background-color: #062D00;
        border: none;
        display: flex;
        justify-content: space-between;
        padding-left: 80px;
        padding-right: 100px;
        border: none;

        & #navDiv31{
            border: 1px solid black;
            width: 350px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            padding-top: 3px;
            align-content: center;
            align-items: center;
            border: none;

        }
        & #navDiv32{
            border: 1px solid black;
            width: 580px;
            height: 50px;
            /* background-color: yellow; */
            display: flex;
            justify-content: space-between;
            padding-top: 3px;
            align-content: center;
            align-items: center;
            color: rgb(128, 122, 122);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-left: 40px;
            padding-right: 40px;
            border: none;

        }
    }
}
@keyframes Application {
    from{
transform: translate(1500px);

    }
    to{
transform: translate(-1500px);

    }
}

/* NAVBAR ENDS HERE */


.brandinglogo img {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right:0px;
}
.brandinglogo img, .maintenance-header img {
    width: 400px;
}

.main1{
    border: 1px solid black;
    width: 1300px;
    height: 200px;
    padding-left: 100px;
    border: none;
}
.home{
    display: flex;
    align-items: center;
    gap: 40px;
    position: absolute;
    
}
.text{
    border: 2px solid white;
   background-color: #d4d1d1;
    height: 12px;
    width: 1170px;
    margin-top: -20px;
    margin-left:85px;
}
.drp{  
    height: 0px;
    cursor: pointer;
    font-weight: 600;
    margin-top: -15px;
} 
.drp-content {
position: absolute;
background-color: rgba(6,56,25,0.87);
display: grid;
align-items: center;
justify-content: space-around;
grid-template-columns: auto auto auto;
gap: 30px;
display: none;
height:300px;
position: absolute;
overflow: hidden;
left: 0;
width: 1200px;
margin-left: 300px;
/* border: 1px solid black; */
margin: auto;
margin-top: 110px;
color: white;
}
.drp-one{  
    margin-top: -120px;
    position: absolute;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1.2;
    text-transform: none;
}
.drp-two{
    margin-top: -120px;
    margin-left: 100px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .drp-three{
        /* margin-top: 10px; */
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        }
        .border-one{
            border: 1px solid white;
            width: 0px;
            height: 250px;
            margin-left: 250px;
            margin-top: -110px;
        }
        .border-two{
            border: 1px solid white;
            width: 0px;
            height: 250px;
            margin-left: 400px;
            margin-top: -135px;
            position: absolute;
        }
        .drp:hover {
            height: 200px;
            color: #45DEB0;
            .drp-content {
                display: grid;
            }
        }
        .drop{
            height: 0px;
            cursor: pointer;
            font-weight: 600;
            margin-top: -15px;
        } 
        .drp-content-acad {
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: absolute;
        background-color: rgba(6,56,25,0.87);
        display: grid;
        align-items: center;
        justify-content: space-around;
        grid-template-columns: auto auto auto;
        gap: 30px;
        display: none;
        height:250px;
        /* position: absolute; */
        overflow: hidden;
        left: 0;
        width: 1000px;
        margin-left: 300px;
        /* border: 1px solid black; */
        margin: auto;
        margin-top: 130px;
        color: white;
        }
        .drp-one-acad{    
            /* margin-top: -20px; */  
            font-size: 15px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        }
        .drp-two-acad{
            /* margin-top: -80px; */
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 15px;
            }
            .drp-three-acad{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin-top: -61px;
            font-size: 15px; 
                }
                .border-one-acad{
                    border: 1px solid white;
                    width: 0px;
                    height: 200px;
                    margin-left: 250px;
                    margin-top: -170px;
                    position: absolute;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                .border-two-acad{
                    border: 1px solid white;
                    width: 0px;
                    height: 200px;
                    margin-left: 250px;
                    margin-top: -10px;
                    position: absolute;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                .drop:hover {
                    color: #45DEB0;
                    height: 200px;
                    .drp-content-acad {
                        display: grid;
                    }
                }
                .News{
                    transition: 2s;
                }
                .News:hover{
                    color: #45DEB0;
                }
                .drop-res{
                    height: 0px;
                    cursor: pointer;
                    font-weight: 600;
                    margin-top: -15px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }  
                .drp-content-res {
                position: absolute;
                background-color: rgba(6,56,25,0.87);
                display: grid;
                align-items: center;
                justify-content: space-around;
                grid-template-columns: auto auto ;
                gap: 30px;
                display: none;
                height:180px;
                position: absolute;
                overflow: hidden;
                left: 0;
                width: 1000px;
                margin-left: 300px;
                /* border: 1px solid blue; */
                margin: auto;
                margin-top: 130px;
                color: white;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                .drp-one-res{
                    
                    /* margin-top: -20px; */
                   
                    font-size: 15px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                
                    .drp-three-res{
                      margin-top: -40px;
                        font-size: 15px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }
                        .border-one-res{
                            border: 1px solid white;
                            width: 0px;
                            height: 130px;
                            margin-left: 420px;
                            margin-top: -110px;
                            position: absolute;
                        }
                        
                        .drop-res:hover {
                            height: 200px;
                            .drp-content-res {
                                display: grid;
                            }
                        }
                        .water{
                            text-align: center;
                            color: rgb(22, 117, 22);
                            font-size: 40px;
                            font-weight: 100;
                        }

                        /* MAIN1 END HERE */
                        .bottle{
                            text-align: center;
                            color: red;
                            font-size: 30px;
                            font-weight: 100px;
                            margin-top: 30px;
                        }
                        .kite{
                            display: inline-flex;
                            margin-top: 50px;
                        }
                        .hot{
                            color: rgb(206, 191, 164);
                        }
                        .text1{
                            border: 2px solid white;
   background-color: #d4d1d1;
                 height: 12px;
    width: 1170px;
    margin-top: -20px;
    margin-left:20px;
                        }
                        
                         @media  screen and (max-width:768px){
                            .kite{
                                display: inline-block;
                            }
                         }
                                             
                        /* main2 ends here */
                        *{
                            margin: 0;
                            padding: 0;
                            box-sizing: border-box;
                        }
                        .futa{
                            width: 100vw;
                            height: 50vh;
                            background-color: black;
                            border: 1px solid rgb(7, 5, 5);
                            position:relative ;
                            margin-top: 300px;
                        }
                        .directories{
                            min-height: 100px;
                            font-size: 5px;
                            display: flex;
                            justify-content:space-evenly;
                            margin-top: 25px;
                            
                        }
                        .about{
                            font-size:12px;
                            color:rgb(68, 60, 60);
                        
                        }
                        .about a{
                            text-decoration: none;
                        }
                        .about a:hover{
                            background-color: rgb(221, 228, 228);
                        }
                        
                        .direct{
                            font-size: 12px;
                            color: rgb(82, 77, 77);
                        }
                        .direct a{
                            text-decoration: none;
                        }
                        .direct a:hover{
                        background-color: rgb(233, 240, 240);
                        }
                        .Academ{
                            font-size: 12px;
                            color: rgb(107, 102, 102);
                        }
                        .Academ a{
                            text-decoration: none;
                        }
                        .Academ a:hover{
                            background-color: rgb(223, 228, 228);
                        }
                        .contact{
                            font-size: 12px;
                            color: rgb(103, 97, 97);
                        }
                        .contact a {
                            text-decoration: none;
                        }
                        .contact a:hover{
                            background-color: rgb(207, 215, 215);
                        }
        